{% extends "layout.njk" %}

{% block content%}

    <div class="cards_curso">

        {% for dado in dados %}

            <div class="card_curso" id="{{dado.id}}">
                <img src="{{dado.url}}"/>
                <p>
                    <strong>{{dado.title}}</strong>
                    {{dado.description}}</p>
            </div>
        {% endfor %}

    </div>

    <script src="scripts.js"></script>

{% endblock %}