<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>João Vitor</title>
    {% endblock %}
    <link rel="stylesheet" href="/styles.css"/>
  </head>
  <body>
    <header>
      <div class="links">
        <a href="/">Sobre</a>
        <a href="/projects">Aulas</a>
        <a href="/cursos">Cursos</a>
      </div>
    </header>

    {% block content %}{% endblock %}
  </body>
</html>